.container{
    border: 2px solid black;
    width: 1500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    

}

.box{

    align-items: stretch;
    display: flex;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    

}

.sousbox{ 
    
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;

}



    
    
.dot{

    margin: 2px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;

}
